body{
   background-color: #f1f1f1;
   font-family: sans-serif; 
}

.form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: #white;
    padding: 30px;
   /* border-radius: 5px; */
}

.card-top{
    text-align: center;
}
.card-group {
    margin-bottom: 10px;
}
.card-group > label{
    width: 100%;
    color: rgb(75, 75, 75);
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group > button {
    background-image: linear-gradient(to right, red, blue);
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}
.btn button:hover{
    background-image: linear-gradient(to right,#D7B6E2,#5D1293);
}
.imglogin{
   /* border-radius: 100px; */
    width: 100px;
}

.title{
    color:#E97828;
}