/*---------------------------------------*\
  Simple panel
  - Usado para login e "esqueci a senha"
\*---------------------------------------*/
.aw-simple-panel {
    color: #777777;
    text-align: center;
  }
    
  .aw-simple-panel__footer {
    padding: 10px 0;
  }
.aw-layout-simple-page {
    background-color: #f6f6f6;
  }
  .aw-layout-simple-page__container {
    display: block;
    max-width: 420px;
    margin: auto;
    padding: 0 10px;
    padding-top: 5%;
  }
  .aw-layout-loading {
    position: fixed;
    z-index: 9998;
    display: none;
    width: 50%;
    height: 50%;
    padding-bottom: 65px;
    text-align: center;
  }
  .aw-layout-loading__container {
    display: table-cell;
    vertical-align: middle;
  }
  .imglogin{
     width: 80px;
}

.aw-simple-panel__message {
  padding-bottom: 0.5cm;
}

.form-group {
  padding: 0.5cm;
}

#btn-enviar {
  background-color: rgb(8, 180, 8);
  border-color: #f6f6f6;
  color: #f6f6f6;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
